<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/mypage/mypageorderlist.css">
    <script src="https://kit.fontawesome.com/c8cd91406a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/image/free-icon-alcohol-6984023.png">
    <title>술마켓</title>
</head>
<body>
    <div th:replace="layout/top::header"></div>
    <div id="header" th:replace="layout/header::nav"></div>
    <div id='wrapper'>
        <div class="mypage_wrapper">
            <div class="mypage_sidebar mt60">
                <div th:replace="layout/sidebar::sidebar"></div>
            </div>
            <div class="mypage_maincontent pt60">
                <div class="maincontent">
                    <div class="mypage_main">
                        <div class="mypage_top_info">
                            <div class="mypage_top_txt">
                                <span class="grade_img"><img src="/image/ico_member_upload1.jpg"></span>
                                <div class="grade_txt">
                                    <p th:text="|${session.userNickName}님의|">오인석님의</p>
                                    <p>회원등급은
                                    <span>정회원등급</span>
                                    입니다.
                                    </p>
                                </div>
                            </div>
                            <div class="mypage_top_wallet">
                                <ul>
                                    <li>
                                        <span><img src="/image/icon_coupon.png"></span>
                                        <em>쿠폰</em>
                                        <strong>0</strong>
                                        장
                                    </li>
                                    <li>
                                        <span><img src="/image/icon_mileage.png"></span>
                                        <em>마일리지</em>
                                        <strong>0</strong>
                                        원
                                    </li>
                                    <li>
                                        <span><img src="/image/icon_balance.png"></span>
                                        <em>예치금</em>
                                        <strong>0</strong>
                                        원
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mypage_lately_info">
                            <div class="mypage_zone_tit">
                                    <h3>주문목록 / 배송조회</h3>
                            </div>
                            <div class="date_check_box">
                                <form th:action="@{/mypage/mypageorderlistsearch}" method="get" name="information">
                                    <h3>조회기간</h3>
                                    <div class="data_check_list">
                                        <button type="button" data-value="0" class>오늘</button>
                                        <button type="button" data-value="7" class>7일</button>
                                        <button type="button" data-value="15" class>15일</button>
                                        <button type="button" data-value="30" class>1개월</button>
                                        <button type="button" data-value="90" class>3개월</button>
                                        <button type="button" data-value="365" class>1년</button>
                                    </div>
                                    <div class="date_check_calendar">
                                        <input type="date"  th:value="${startdate}" name="startdate" id="startdate">
                                        ~
                                        <input type="date" th:value="${lastdate}" name="lastdate" id="lastdate">
                                    </div>
                                    <div>
                                        <button type="button" class="btn_date_check">
                                            <em>조회</em>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="mypage_zone_tit">
                                <div class="pick_list_num">
                                    주문목록 / 배송조회 내역 총 
                                    <strong th:if="${orderFormList == null}">0</strong>
                                    <strong th:if="${orderFormList != null}" th:text="${orderFormList.size}">0</strong>
                                    건
                                </div>
                            </div>
                            <div class="mypage_table_type">
                                <table>
                                    <colgroup>
                                        <col width="15%">
                                        <col>
                                        <col width="15%">
                                        <col width="15%">
                                        <col width="15%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>
                                                날짜/주문번호
                                            </th>
                                            <th>
                                                상품명/옵션
                                            </th>
                                            <th>
                                                상품금액/수량
                                            </th>
                                            <th>
                                                주문상태
                                            </th>
                                            <th>
                                                확인/리뷰
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${orderFormList == null}">
                                            <td colspan="6">
                                                <p class="no_data">
                                                    조회내역이 없습니다.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr th:if="${orderFormList != null}" th:each="orderForm : ${orderFormList}">
                                            <td th:text="|${orderForm.orderdate} / ${orderForm.orderId}|">
                                                22-09-21/219394
                                            </td>
                                            <td>
                                                <img th:src="${orderForm.OrderLatelyProductDto[0].imagepath}">
                                                <span class="product_name" ><a th:href="@{/order/check(orderId=${orderForm.orderId})}" th:text="|${orderForm.OrderLatelyProductDto[0].productname} 외 ${(orderForm.OrderLatelyProductDto.size)-1}건|">배혜정도가 외 23건</a></span>
                                            </td>
                                            <td th:text="|${{orderForm.OrderLatelyProductDto[0].price}}원/${orderForm.OrderLatelyProductDto[0].quantity}개|">

                                            </td>
                                            <td th:text="${orderForm.status}">
                                                배송상태
                                            </td>
                                            <td>
                                                <button class="confirmpurchase" th:data_orderid="${orderForm.orderId}" th:disabled="${orderForm.status.toString().equals('주문취소') || orderForm.status.toString().equals('교환완료') || orderForm.status.toString().equals('환불완료') || orderForm.status.toString().equals('주문취소') || orderForm.status.toString().equals('교환신청') || orderForm.status.toString().equals('환불신청') || orderForm.status.toString().equals('입금대기') || orderForm.status.toString().equals('결제완료') ||
                                                orderForm.status.toString().equals('배송준비중') || orderForm.status.toString().equals('배송중') || orderForm.status.toString().equals('구매확정')}" >구매 확정</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mypage_order_info_paging" th:if="${paging != null}">
                                <a th:if="${paging.showPrev}" th:href="@{/mypage/mypageorderlistsearch(page=${paging.beginPage - 1},pagesize=${paging.pageSize},startdate=${startdate},lastdate=${lastdate})}" th:text="Prev"></a>
                                <th:block th:with="start=${paging.beginPage}, end=${paging.endPage}">
                                    <th:block th:each=" i : ${#numbers.sequence(start,end)}">
                                        <a th:href="@{/mypage/mypageorderlistsearch(page=${i},pagesize=${paging.pageSize},startdate=${startdate},lastdate=${lastdate})}" th:text="${i}" th:classappend="${page} == ${i} ? 'paging_on'"></a>
                                    </th:block>
                                </th:block>
                                <a th:if="${paging.showNext}" th:href="@{/mypage/mypageorderlistsearch(page=${paging.endPage + 1},pagesize=${paging.pageSize},startdate=${startdate},lastdate=${lastdate})}" th:text="Next"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" th:replace="layout/footer::footer"></div>
    <script type="text/javascript" src="/js/mypage/mypageorderlist.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>