<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/register/registerinput.css">
    <script src="https://kit.fontawesome.com/c8cd91406a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/image/free-icon-alcohol-6984023.png">
    <title>술마켓</title>
</head>
<body>
    <div th:replace="layout/top::header"></div>
    <div id="header" th:replace="layout/header::nav"></div>
    <div id='wrapper'>
    <div class="contentwrapper">
        <div class="contenttit">
            <h2>
                SNS 추가정보 입력
            </h2>
            <ol>
                <li>
                    <span>01 </span>
                    약관동의
                    <span><img src="/image/icon_join_step_off.png"> </span>
                </li>
                <li class="page_on">
                    <span>02 </span>
                    정보입력
                    <span><img src="/image/icon_join_step_on.png"> </span>
                </li>
                <li>
                    <span>03 </span>
                    가입완료
                </li>
            </ol>
        </div>
    </div>
    <div class="member_cnt">
        <div class="base_info_box">
            <h3>기본 정보</h3>
            <span id="important">표시는 반드시 입력하셔야 하는 항목입니다.</span>
        </div>
        <div class="base_info_sec">
            <form th:action="@{/join/snsjoincomplete}" method="post" name="information">
                <table>
                    <colgroup>
                        <col width="25%">
                        <col width="75%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>
                            <span class="important">이름</span>
                        </th>
                        <td>
                            <div class="memberwaring">
                                <input type="text" maxlength='5' class="input_name" name="nickName" th:field="${snsJoinDto.nickName}">
                                <div class="checkId">
                                        <span class="error_next_box">
                                            <span th:errors="${snsJoinDto.nickName}"></span>
                                        </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="important">휴대폰번호</span>
                        </th>
                        <td>
                            <div class="memberwaring">
                                <input type="text" placeholder="-빼고 입력해주세요." class="input_num" maxlength='11' name="phone" th:field="${snsJoinDto.phone}">
                                <div class="checkId">
                                        <span class="error_next_box">
                                            <span th:errors="${snsJoinDto.phone}"></span>
                                        </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="important">주소</span>
                        </th>
                        <td>
                            <div class="input_address">
                                <input type="text" id="sample6_postcode" placeholder="우편번호" readonly name="address1" th:field="${snsJoinDto.address1}">
                                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                                <input type="text" id="sample6_address" placeholder="주소" readonly name="address2" th:field="${snsJoinDto.address2}"><input type="hidden" id="sample6_extraAddress" placeholder="참고항목" name="address4" readonly>
                                <input type="text" id="sample6_detailAddress" placeholder="상세주소" name="address3" th:field="${snsJoinDto.address3}">
                                <div class="checkId">
                                        <span class="error_next_box">
                                            <span th:errors="${snsJoinDto.address1}"></span>
                                            <span th:errors="${snsJoinDto.address2}"></span>
                                            <span th:errors="${snsJoinDto.address3}"></span>
                                        </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
        <div class="addition_info_box">
            <h3>부가 정보</h3>
            <div class="addition_info_sec">
                <table>
                    <colgroup>
                        <col width="25%">
                        <col width="75%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>
                            <span class="important">성별</span>
                        </th>
                        <td>
                            <div class="addition_info_select">
                                <ul>
                                    <li>
                                        <input type="radio" id="man" name="sex" value="man">
                                        <label for="man">남자</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="woman" name="sex" value="woman">
                                        <label for="woman">여자</label>
                                    </li>
                                </ul>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="important">생년월일</span>
                        </th>
                        <td>
                            <div id="bir_yy">
                                        <span class="box">
                                            <input type="text" id="yy" name="birthYear" class="int" maxlength="4" placeholder="년(4자)">
                                            년
                                        </span>
                                <!-- BIRTH_MM -->
                                <div id="bir_mm">
                                        <span class="box">
                                            <select id="mm" name = "birthMonth" class="sel">
                                                <option>월</option>
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                                <option value="06">6</option>
                                                <option value="07">7</option>
                                                <option value="08">8</option>
                                                <option value="09">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            월
                                        </span>
                                </div>
                                <!-- BIRTH_DD -->
                                <div id="bir_dd">
                                        <span class="box">
                                            <input type="text" id="dd" name = "birthDay" class="int" maxlength="2" placeholder="일">
                                            일
                                        </span>
                                </div>
                            </div>
                            <div class="checkId">
                                    <span class="error_next_box">

                                    </span>
                            </div>
            </div>
            </td>
            </tr>
            </tbody>
            <input type="hidden" th:value="ROLE_USER" name="userrole">
            </table>
        </div>
    </div>
    <div class="btn_center_box">
        <button type="button" id="btnprevstep" class="btn_member_prev" onclick="prevpage()">
            이전단계
        </button>
        <button type="button" id="btnnextstep" class="btn_member_next" onclick="insertinformation()">
            정보입력
        </button>
        </form>
    </div>
</div>
</div>
<div id="footer" th:replace="layout/footer::footer"></div>
<script type="text/javascript" src="/js/register/snsregisterinput.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>