.mt60{
    margin-top: 60px !important;
}

.pt60{
    padding-top: 60px !important;
}

.fw-15{
    font-weight:bold !important;
}

/* 사이드바 관련 css */
.mypage_wrapper{
    min-height: 400px;
    width: 1200px;
    margin:auto;
}

.mypage_sidebar_submenu a:hover{
    font-weight: bold;
    background: #f8f8f8;
    color: #189fdb;
}
.active {
    font-weight: bold;
    background: #f8f8f8;
    color: #189fdb;
}

.js_pr_btn_comment{
   cursor: pointer;
}
.mypage_wrapper:after {
    display: block;
    clear: both;
    content: "";
}

.mypage_sidebar{
    float: left;
    width: 200px;
}

.mypage_sidebar_content{
    min-height: 250px;
    padding: 0 0 50px 0;
}

.mypage_sidebar_content h2{
    padding: 0 0 14px 10px;
    border-bottom: 1px solid #ececec;
}

.mypage_sidebar_submenu{
    margin: 7px 0 0 0;
    list-style: none;
    padding:0;
    list-style: none;
}

.mypage_sidebar_submenu{
    line-height: 1.5;
    font-family: "Noto Sans KR",sans-serif;
    color: #333;
    margin: 7px 0 0 0;
    list-style: none;
}

.mypage_sidebar_submenu > li:first-child{
    margin: 30px 0 0 0;
}

.mypage_sidebar_submenu > li{
    padding: 8px 0 15px 0;
    font-size: 14px;
    font-weight: bold;
    background: url(/image/lnb_tit.png) no-repeat top left;
}


/* 하위사이드바 1 */
.mypage_sidebar_submenu1{
    margin: 5px 0 25px 0;
    list-style: none;
    padding:0;
}

.mypage_sidebar_submenu1 li{
    padding: 1px 0 0 0;
    font-weight: normal;
    list-style: none;
}

.mypage_sidebar_submenu1 a{
    font-size: 12px;
    text-indent: 20px;
    display: block;
    padding: 7px 0 6px 0;
}

/* 하위사이드바 2 */
.mypage_sidebar_submenu2{
    margin: 5px 0 25px 0;
    list-style: none;
    padding:0;
}

.mypage_sidebar_submenu2 li{
    padding: 1px 0 0 0;
    font-weight: normal;
    list-style: none;
}

.mypage_sidebar_submenu2 a{
    font-size: 12px;
    text-indent: 20px;
    display: block;
    padding: 7px 0 6px 0;
}

/* 하위사이드바 3 */
.mypage_sidebar_submenu3{
    margin: 5px 0 25px 0;
    list-style: none;
    padding:0;
}


.mypage_sidebar_submenu3 li{
    padding: 1px 0 0 0;
    font-weight: normal;
    list-style: none;
}

.mypage_sidebar_submenu3 a{
    font-size: 12px;
    text-indent: 20px;
    display: block;
    padding: 7px 0 6px 0;
}

/* 하위사이드바 4 */
.mypage_sidebar_submenu4{
    margin: 5px 0 25px 0;
    list-style: none;
    padding:0;
}


.mypage_sidebar_submenu4 li{
    padding: 1px 0 0 0;
    font-weight: normal;
    list-style: none;
}

.mypage_sidebar_submenu4 a{
    font-size: 12px;
    text-indent: 20px;
    display: block;
    padding: 7px 0 6px 0;
}

/* 메인 content 영역 */


.mypage_maincontent {
    width: 940px !important;
    float: right;
}
.maincontent {
    width: 100%;
    min-height: 500px;
    padding: 0;
}
.pt60 {
    padding-top: 60px !important;
}

.board_zone_sec{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 0 0;
}

.board_zone_tit {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 16px;
}

/* review 영역 */

.plus_review_view {
    margin: 30px 0 0 0;
    background: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Noto Sans KR",sans-serif;
    color: #333;
}

.plus_review_view_list.view_point_bg:nth-child(odd) {
    background: #fcfcfc !important;
}

.plus_review_view_list.view_point_bg:nth-child(even) {
    background: white !important;
}


.plus_review_view_list {
    display: table;
    width: 100%;
    margin-top: -1px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.search_image_product {
    display: table-cell;
    width: 15%;
    padding: 0 20px 0 20px;
}

.search_image_product img{
    width: 50px;
    height: 50px;
}

.plus_review_view .star_day_name {
    display: table-cell;
    width: 15%;
    padding: 0 20px 0 20px;
}

.plus_review_view .star_day_name strong {
    display: block;
    color: #ffcc00;
    font-size: 20px;
}

.plus_review_view .star_day_name span {
    display: block;
    padding: 5px 0 5px 0;
    color: #787878;
}

.plus_review_view .option_text_file_box {
    display: table-cell;
    width: 85%;
    padding: 0 20px 0 0;
    vertical-align: top;
}

.plus_review_view .text_file_cont .review_text {
    min-height: 50px;
    margin: 15px 0 15px 0;
}

.review_comment_box {
    display: block;
}

.review_comment_top {
    overflow: hidden;
    width: 100%;
    padding: 10px 0 10px 0;
    border-bottom: none 0;
}

a {
    color: #333;
    text-decoration: none;
}

.review_comment_top .comment_num strong {
    border-bottom: 1px solid #333;
}

dl, ul, ol, li {
    list-style: none;
}

.review_comment_list ul li:first-child {
    border-top: 1px solid #dbdbdb;
}

.review_comment_list ul li {
    position: relative;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #dbdbdb;
}

.comment_name {
    font-size:14px;
    padding: 0 0 0 5px;
    color: #444;
    word-wrap: break-word;
}

.board_day_time {
    font-weight: normal;
}

.board_day_time {
    display: inline-block;
    padding: 0 5px 0 5px;
    color: #a1a1a1;
    font-size: 11px;
}

.plus_review_view .review_comment_list p {
    padding: 0;
}

.review_comment_list p > em {
    display: block;
    padding: 10px 10px 10px 5px;
    font-style: normal;
    font-weight: normal;
}

.pagination {
    padding-top: 15px;
    text-align: center;
}

.pagination ul {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.pagination .on {
    color: #fff;
    font-weight: 500;
    background: #189fdb !important;
}

.pagination li {
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1px;
}

.pagination li a, .pagination li span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    font-weight: 300;
}

.no_data {
    padding: 30px 30px 30px 30px;
    text-align: center;
}

.js_pr_btn_comment_open{
    cursor:pointer;
    display:none;
}
.js_pr_btn_comment_close{
    cursor:pointer;
    display:none;
}

.js_pr_contents_short{
    padding-top:8px;
}

.paging_on{
    text-decoration: underline;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Noto Sans KR",sans-serif;
    color: #333;
}