<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/index/ourstory.css">
    <script src="https://kit.fontawesome.com/c8cd91406a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script th:inline="javascript">
        let msg = [[${msg}]];
        if(msg=="DEL_OK"){ alert("정상적으로 탈퇴되었습니다.")};
    </script>
    <link rel="icon" type="image/png" sizes="16x16" href="/image/free-icon-alcohol-6984023.png">
    <title>술마켓</title>
</head>
<body>
    <div th:replace="layout/top::header"></div>
    <div id="header" th:replace="layout/header::nav"></div>
    <div id='wrapper'>
        <div class="firstcontentbox">
            <h2><span>술마켓이란?</span></h2>
            <img th:src="|/image/sub_visual01.jpg|">
        </div>
        <div class="secondcontentbox">
            <h3 class="fw300 fs34 f_scd">이것이 <span class="fcBlue fw600">[우리들의 술]</span> 이다.</h3>
            <div class="secondcontentboximgbox"><img class="secondcontentboximg" src="/image/company_blue_bg.jpg"></div>
        </div>
        <div class="thirdcontentbox">
            <img src="/image/about_img01.jpg">
        </div>
        <div class="fourchcontentbox">
            <img src="/image/company_img01.jpg">
        </div>
    </div>
    <div id="footer" th:replace="layout/footer::footer"></div>
</body>
</html>